body{
    padding: 0;
    margin: 0;    
}

body header {
 margin: 0;   
 display: table;
 min-width: 1024px;
 width: 100%;
 padding-top: 20px;
 padding-bottom: 20px; 
}

body header a {
    color: #444444;
    text-decoration: none;
}

body header aside {
    display: table-cell;
    text-align: left;
    padding-left: 3%;
}

body header aside img{
    display: block;
    height: 70px;
    width: auto;
}

.logo-container{
    background: #00f;
}

.logo-container div{
    display: table;
}

.logo-container div div{
    display: table-cell;
    /* do not remove this!*/
    vertical-align: middle;
    padding-bottom: 0px;
}

.logo-container div div div{
    display: block;
    font-size: 18px;
    padding-left: 10px;
}

.logo-container .logo-text{
    font-size: 26px;
}

body header nav {
    display: table-cell;
    text-align: right;
    padding-right: 3%;
    vertical-align: middle;
}

body header nav ul{
    
}

body header nav ul li{
    display: inline-block;
    margin-right: 15px;
}

body header nav ul li a{
    display: block;
    padding: 15px 30px;    
}

body header nav ul li a:hover{
    color: #fff;
    background-color: #1bbc9b;
}

main{
    display: block;
    background: url('img/main-background.jpg');
    text-align: center;
    padding-top: 3%;
    color: #fff;
    padding-bottom: 3%;
}

main h1{        
    font-weight: normal;
    font-size: 52px;
}

main p{
    width: 60%;
    margin: 0 auto;
}

main a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #1bbc9b;
    padding: 10px 30px;
    margin-top: 2%;    
}

main a:hover{
    background-color: #fff;
    color: #1bbc9b;
}

main div{
    display: block;
}

main div a{
    display: inline-block;
    background: transparent;
}

main div a:hover{
    color: transparent;
    background: transparent;
}